<div class="owm_nav_cap owm_nav_cap_left_cont owm_nav_cap_right_cont owm_bg_color_3 owm_border clearfix">
    {if $contextMenu}
        <div class="owm_view_more owm_float_right">
            {$contextMenu}
        </div>
    {/if}
    <div class="owm_float_left">
        <a class="owm_nav_cap_left" href="{url_for_route for="photo_user_albums:[user=>`$userName`]"}"></a>
    </div>
    <h3>
        {if $ownerMode}
            {text key='photo+my_albums'}
        {else}
            {text key='photo+photo_albums'}
        {/if}
    </h3>
</div>

<div class="owm_photo_block">
    <div class="clearfi owm_padding owm_add_photo_wrap">
        <div id="short-desc">{$albumShortDesc}</div>

        {if $albumLongDesc}
            <a id="read-more" href="#">{text key='photo+read_more'}</a>
            <div id="long-desc" style="display: none">
                {$albumLongDesc}
            </div>
        {/if}
    </div>
    {if !empty($authError)}
        <div class="owm_padding">
            <div class="owm_info owm_anno">{$authError}</div>
        </div>
    {else}
        <div class="owm_photo_list">
            <div class="owm_photo_list_tr clearfix" id="photo-list-cont">{$photos}</div>
        </div>
        {if $loadMore}
        <div class="owm_photo_list_load_more owm_bg_color_3">
            <a href="javascript://" id="btn-photo-load-more"></a>
        </div>
        {/if}
    {/if}
</div>
{script}
    $("#read-more").click(function(e){
        $("#short-desc, #read-more").hide();
        $("#long-desc").show();
    });
{/script}