<div>
    <div class="owm_photo_block">
        {if !empty($authError)}
            <div class="owm_padding">
                <div class="owm_info owm_anno">{$authError}</div>
            </div>
        {else}
            <div class="clearfix">
                {if !empty($uploadUrl)}
                    <a href="{$uploadUrl}" class="owm_add_photo"></a>
                {elseif !empty($id)}
                    <a href="javascript://" class="owm_add_photo" id="{$id}"></a>
                {/if}
                {$menu}
            </div>
            <div class="owm_photo_list">
                <div class="owm_photo_list_tr clearfix" id="photo-list-cont">{$photos}</div>
            </div>
            {if $loadMore}
            <div class="owm_photo_list_load_more owm_bg_color_3">
                <a href="javascript://" id="btn-photo-load-more"></a>
            </div>
            {/if}
        {/if}
    </div>
</div>
